@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}
/* Pour assurer que le body couvre toute la hauteur de l'écran */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container principal de la page */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenu principal */
.main-content {
  display: flex;
  justify-content: space-around;
  flex: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

/* Centrage des éléments */
.main-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #ddd;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 500;
}

button {
  font-weight: 700;
}
